.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  & .label {
    font-size: 10px;
  }
  & button {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0;
    background-image: url('/src/assets/send.svg');
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.label {
  color: #6f6f6f;
}

.input {
  border-radius: 20px;
  background: #efefef;
  padding: 5px 10px;
  width: 100%;
}
