.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &_wrapper {
    margin: 0 auto;
    height: 80%;
    width: 60%;
    max-width: 340px;
    max-height: 450px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
    padding: 50px 30px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
