.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  & label {
    display: none;
  }
  & button {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0;
    background-image: url('/src/assets/send.svg');
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  & > div:first-of-type {
    width: 100%;
  }
}

.input {
  border-radius: 30px;
  background: #efefef;
  padding: 10px 20px;
  width: 100%;
}
