@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  overflow-x: hidden;
  --color-text: rgb(30, 30, 30);
  --color-gray: rgb(153, 153, 153);
  --color-blue: rgba(51, 105, 243, 1);
  --color-blue-hover: rgba(51, 105, 243, 0.8);
  --color-blue-active: rgba(51, 105, 243, 0.6);
  --color-blue-light: rgb(228, 237, 253);

  background-color: #ffffff;
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  overflow: hidden;
}

* {
  &::selection {
    background-color: #fff;
    color: #3369f3;
  }
  scrollbar-color: #3369f3 transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #c4c4c4;
  }
}
