.input_wrapper {
  font-weight: 500;
  display: flex;
  flex-direction: column;

  & > .label {
    color: var(--color-gray);
    font-size: 9px;
    transition: opacity 0.3s;
  }

  & > .label_hidden {
    opacity: 0;
    pointer-events: none;
  }
}
