.input_wrapper {
  font-weight: 500;
  display: flex;
  flex-direction: column;

  & > .label {
    color: var(--color-gray);
    font-size: 9px;
    transition: opacity 0.3s;
  }

  & > .label_hidden {
    opacity: 0;
    pointer-events: none;
  }

  & > .input {
    padding: 7px 0;
    border-bottom: 1px solid var(--color-blue);
    color: var(--color-text);
    font-size: 13px;

    &::placeholder {
      color: var(--color-gray);
    }

    &-error {
      color: #ff2f2f;
      font-size: 8px;
      font-weight: 400;
    }

    &-invalid {
      color: #ff2f2f;
    }
  }
}
