.button {
  width: 100%;
  padding: 12px 70px;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--color-blue-hover);
  }
  &:active {
    background-color: var(--color-blue-active);
  }
}
